<h2 style="color:white">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalyticsID}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.GoogleAnalyticsID}}');
</script>
<!-- End of Global site tag (gtag.js) - Google Analytics -->
Newspapers and Magazines:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2023/mar/22/vladimir-putin-xi-jinping-russia-china">“Putin should be under no illusion – Xi is not Russia’s knight in shining armour.” <i>The Guardian.</i> March 22, 2023.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2023/mar/17/putin-lifestyle-russia-elite-peace-military-loyalty">“Putin enables the lifestyle of Russia’s elite – until they lose faith, there is little hope of peace.” <i>The Guardian.</i> March 17, 2023.</li>
<li style="margin-top: 20px;"><a href="https://www.thestar.com/opinion/contributors/2023/02/22/the-only-way-to-stop-the-russian-invasion-of-ukraine.html">“The only way to stop Putin’s invasion of Ukraine.” <i>The Toronto Star.</i> February 22, 2023.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2023/jan/22/vladimir-putin-ukraine-west-russia-president">“When Will Putin Give up Ukraine? Only When his Inner Circle Forces him to Stop.” <i>The Guardian.</i> January 22, 2023.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2022/sep/23/putin-miracle-avoid-devastating-defeat-ukraine-russia">“Putin Needs Nothing Short of a Miracle to Avoid a Devastating Defeat in Ukraine.” <i>The Guardian.</i> September 23, 2022.</li>
<li style="margin-top: 20px;"><a href="https://www.republik.ch/2022/05/02/tanja-ist-kein-monster">“Tanja ist kein Monster.” <i>Republik Magazine</i> [in German]. May 2, 2022.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2022/apr/20/putin-ukraine-russia-humiliated-military-intelligence-war">“Putin’s Key Supporters Are Now Playing a Desperate Face-Saving Game in Ukraine.” <i>The Guardian.</i> April 20, 2022.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2022/mar/08/sanctions-vladimir-putin-kremlin-russian-oligarchy">"The Sanctions Strategy is Flawed. To Defeat Putin, You have to Know how the Kremlin Works.'' <i>The Guardian.</i> March 8, 2022.</li>


</ul>


<h2 style="color:white">
Other:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="../reproducible_research.html">Reproducible Research</li>

</ul>
