<h2 style="color:white">
Newspapers and Magazines:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="https://www.republik.ch/2022/05/02/tanja-ist-kein-monster">“Tanja ist kein Monster.” <i>Republik Magazine</i> [in German]. May 2, 2022.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2022/apr/20/putin-ukraine-russia-humiliated-military-intelligence-war">“Putin’s Key Supporters Are Now Playing a Desperate Face-Saving Game in Ukraine.” <i>The Guardian.</i> April 20, 2022.</li>
<li style="margin-top: 20px;"><a href="https://www.theguardian.com/commentisfree/2022/mar/08/sanctions-vladimir-putin-kremlin-russian-oligarchy">"The Sanctions Strategy is Flawed. To Defeat Putin, You have to Know how the Kremlin Works.'' <i>The Guardian.</i> March 8, 2022.</li>


</ul>


<h2 style="color:white">
Other:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="../reproducible_research.html">Reproducible Research</li>

</ul>
