<h2 style="color: white">
Referreed Articles
</h2>

<ul>
<li style="margin-top: 20px;"><a href="../published/Chyzh_CJPS2022.pdf">Chyzh, Olga V. 2022. “The Impact of Western Sanctions on Putin’s War.” <i>Canadian Journal of Political Science</i> 55 (2): 496–501 </a></li>

<li style="margin-top: 20px;"><a href="../published/Nieman_etal_JoP2021.pdf">Nieman, Mark David, Carla Martinez Machain, Olga V. Chyzh, and Sam Bell. 2021. “An International
Game of Risk: Troop Placement and Major Power Competition.” <i>The Journal of Politics</i> 83
(4): 1307–1321.</a></li>

<li style="margin-top: 20px;"><a href="../published/ChyzhUrbatsch_JoP2021.pdf">Chyzh, Olga V. and R. Urbatsch. 2021. “Bean Counters: The Effect of Soy Tariffs on Change in
Republican Vote Share Between the 2016 and 2018 Elections.” <i>The Journal of Politics</i> 83 (1):
415–419.</a></li>

<li style="margin-top: 20px;"><a href="../published/ChyzhKaiser_PA2019.pdf">Chyzh, Olga V. and Mark S. Kaiser. 2019. “A Local Structure Graph Model: Modeling Formation
of Network Edges as a Function of Other Edges.” <i>Political Analysis</i> 27 (4): 397–414.</a></li>

<li style="margin-top: 20px;"><a href="../published/ChyzhLabzina_AJPS2018.pdf">Chyzh, Olga V., and Elena Labzina. 2018. “Bankrolling Repression? Modeling Third-Party Influence
on Protests and Repression.” <i>American Journal of Political Science</i> 62 (2): 312–324.</li>

<li style="margin-top: 20px;"><a href="../published/Chyzh_FPA2017.pdf">Chyzh, Olga V. 2017. “Keeping Up With <i>Which</i> Joneses: Spatial Diffusion of Rule of Law through
Economic International Organizations.” <i>Foreign Policy Analysis</i> 13 (1): 28–49.</li>

<li style="margin-top: 20px;"><a href="../published/Chyzh_JPR2016.pdf">Chyzh, Olga V. 2016. “Dangerous Liaisons: An Endogenous Model of International Trade and Human Rights.” <i>Journal of Peace Research</i> 53(3): 409–423.</li>

<li style="margin-top: 20px;"><a href="../published/Boehmke_etal_PSRM2016.pdf">Boehmke, Frederick J., Olga V. Chyzh, and Cameron G. Thies. 2016. “Addressing Endogeneity in Network Position Similarity Measures.” <i>Political Science Research and Methods</i> 4(1): 123–149.</li>

<li style="margin-top: 20px;"><a href="../published/Thies_etal_PSRM2016.pdf">Thies, Cameron G., Olga V. Chyzh, and Mark David Nieman. 2016. “The Spatial Dimensions of State Fiscal Capacity: The Mechanisms of International Influence on Domestic Extractive Efforts.” <i>Political Science Research and Methods</i> 4(1): 5–26.</li>

<li style="margin-top: 20px;"><a href="../published/Chyzh_CMPS2014.pdf">Chyzh, Olga V. 2014. “Can You Trust a Dictator: An Endogenous Model of Authoritarian Regimes’ Signing and Compliance with International Treaties.” <i>Conflict Management and Peace Science</i> 31
(1): 3–27.</li>
</ul>

<h2 style="color: white">
Referreed Chapters
</h2>

<ul>
<li style="margin-top: 20px;"><a href="../published/Chyzh_EdwardElgar2022.pdf">Chyzh, Olga V. 2022. “Chapter 20. How to Teach Social Network Analysis to Social Science Students.” In <i>Teaching Graduate Political Methodology</i>. Brown, Mitchell, Shane Nordyke, and Cameron Thies, Eds. Edward Elgar Publishing: 205–211.</li>

</ul>


<h2 style="color: white">
Working Papers
</h2>

<ul>
<li style="margin-top: 20px;"><a href="../working/Chyzh_How_to_Stop_Contagion.pdf">“The Effect of Vaccine Distribution on Contagion: Insights from Networks Science.”</li>

<li style="margin-top: 20px;"><a href="../working/Chyzh_Phantom_Threats.pdf">“Phantom Threats: Predatory Governments, the Threat of Extremism, and Public Support”</li>

<li style="margin-top: 20px;"><a href="../working/Chyzh_etal_Dog_Whistle_Politics.pdf">“The Effects of Dog Whistle Politics on Political Violence.” (with Mark Nieman and Clay Webb).</li>

<li style="margin-top: 20px;"><a href="../working/Chyzh_etal_Treaty_Diffusion.pdf">“The Structure of International Treaty Diffusion.” (with Ki Eun Ryu, Frederick Boehmke, Olga Chyzh, Zhanna Terechshenko, Bruce Desmarais, and Jeff Harden).</li>

</ul>


