<h2 style="color:white">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalyticsID}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.GoogleAnalyticsID}}');
</script>
<!-- End of Global site tag (gtag.js) - Google Analytics -->
Course Websites:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="https://networkanalysis.netlify.app">Advanced Network Analysis</li>
<li style="margin-top: 20px;"><a href="https://pol478.netlify.app/">Data Management and Visualization</li>


</ul>


<h2 style="color:white">
Tutorials:
</h2>

<ul>
<li style="margin-top: 20px;"><a href="https://rpubs.com/ochyzh/A357841">Network Visualization: Florentine Marriages</li>
<li style="margin-top: 20px;"><a href="https://rpubs.com/ochyzh/357836">Network Simulation Demo</li>

<li style="margin-top: 20px;"><a href="https://rpubs.com/ochyzh/388388">Spatial Probit</li>


</ul>
